global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'metrics-api'
    metrics_path: /metrics
    static_configs:
      - targets: ['${METRICS_API_TARGET}']

  - job_name: 'api'
    metrics_path: /metrics
    static_configs:
      - targets: ['${API_TARGET}']